@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin: 0 }

html,
body,
:root {
	width: 100%;
	height: 100%
}

@layer utilities {
	.card {
		@apply bg-white rounded-[5px]
	}

	.ebold-40 {
		@apply text-dark text-40 font-extrabold
	}

	.f-center {
		@apply flex justify-center items-center
	}

	.h-bet {
		@apply flex justify-between
	}

	.h-center {
		@apply flex justify-center
	}

	.input {
		@apply w-full outline-none p-2 border-b border-dark
	}

	.v-center {
		@apply flex items-center
	}

	.pointer {
		@apply cursor-pointer
	}
}

.sshadow {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3)
}

.vio-shadow {
	box-shadow: 0 0 10px rgba(175, 166, 183, .5)
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background: #afa6b7
}

::-webkit-scrollbar-track {
	background: transparent
}

